<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395261574070-apj0vouvfjdo1g2s1tp892sn0drjo5p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395261574070-apj0vouvfjdo1g2s1tp892sn0drjo5p6</string>
	<key>API_KEY</key>
	<string>AIzaSyCM9r2MRxj-zsJCn2U8DUBzH6icsG78dak</string>
	<key>GCM_SENDER_ID</key>
	<string>395261574070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6e847</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6e847.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395261574070:ios:afe40ef8720a5bb9bd9f17</string>
</dict>
</plist>